.card-home-venta {
  margin-top: 20px;
  width: 100%;
  background: rgba(239, 239, 239, 0.6);
  box-shadow: 0px 3px 20px #000000;
  padding: 10px;
}
.btn {
  border-radius: 0px !important;
}
.input-form {
  height: 40px;
  width: 100%;
  font-size: 14px;
  padding: 10px;
  margin: 10px auto;
  border-radius: 0px;
}

.input-form:focus {
  border: none;
  outline: none;
}
.table-scroll {
  width: 100%;
  border-collapse: collapse;
}

.table thead,
.table tfoot {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table tbody {
  display: block;
  max-height: 230px;
  overflow-y: auto;
}

.t-body tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.table-footer {
  position: sticky;
  bottom: 0;
  background-color: white;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
